*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*must be 10px   this is realative to default browser font size (16px) 10px = 62.5% x 16px 
    to cover situations when the user scales the  browser */
    // specifies how much 1 rem is equal to
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}