body{
    background:lightblue;
    color: white;
    margin: 0;
    padding: 20em 20em 20em 20em;
}
img{
    position: absolute;
    height: 40vh;
    top: 0;
    left: 0;
    z-index: -2;
}
.circle{
    display: none;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    height: 400px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
}
.container{
    display: inline-block;
    background: rgba($color: white, $alpha: 0.2);
    padding: 3em;
    border-radius: 3em;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(20px);
    border: solid 2px transparent;
    background-clip:padding-box;
    box-shadow: 10px 10px 10px 10px rgba(46, 54, 68, .05);
    
    h2{
        font-size: 1.7em;
    }
    h1,h2{
        margin:0;
    }
    p{
        margin:0;
    }
}


h1{
    font-size: 4em;
    clip-path: inset(0 0 0 0);
}