.simple_history_header {
  font-size: 28px;
  border-bottom: solid rgba(122, 122, 122, 0.582) 2px;
  background-color: rgba(197, 179, 212, 0.192);
  width: 25vw;
  margin: 0 auto;
  margin-top: 6px;
  border-radius: 10px;
  color: #551bc1c9;
  margin-bottom: 14px;
}

.simple_history_explanations_conteiner {
  display: flex;
  justify-content: center;
}

.simple_history_explanations_conteiner span {
  width: -webkit-fill-available;
  font-size: 20px;
  margin-bottom: 7px;
  font-weight: 500;
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px;
  border-radius: 6px;
}

.scrollable_simple_history {
  overflow-y: scroll;
  height: 25vh;
}
