body{
    background-color:gray;
    color:black;
    font-family:'Franklin Gothic Medium', Arial, sans-serif;
    font-size:20px;
    font-weight:normal;
    line-height:25px;
}
body h1{
text-align:center;
margin-left:550px;
width:250px;
background-color:lightgray;
padding:10px;
border:15px double lightseagreen;
border-radius:30px;
}
.container1{
    text-align:center;
    width:80%;
    margin:auto;
    padding:5px;
    background-color:rgb(27, 28, 107);
    border: 15px dotted peru;

    

}
.container2{
    background-color:rgb(94, 126, 30);
    color:red;
    margin:50px 900px;
    width:400px;
    border:10px solid blueviolet;
    border-radius:30px;
    text-align: center;
    padding:10px;
}
.categories{
    width:250px;
    margin-left:550px;
    margin-top:-600px;
    padding:10px;
    background-color:cyan;
    border:10px dashed rosybrown;
    border-radius:30px;
    line-height:2.8em;
}
a{
    text-decoration-color:red;
}
.li1 img{
    width:22px;
   margin-bottom:-4px; 
}
.li1 a{
    padding:5px;
    border:10px solid red;
    border-radius:30px;
}
.li2 a{
    text-decoration:none;
    color:yellow;
    border:10px yellow;
    border-style:solid double;
}
.li2 a:hover{
    color:saddlebrown;
}
.li3 a{
    border:10px white;
    border-style:dotted dashed dashed dotted;
    border-radius:30px;
    padding:5px;
}
.li3 a:visited{
    color:white;
}
.li4 a{
    border:10px green;
    border-style:solid double double;
    border-radius:30px;
    padding:5px;
}
.li4 a:active{
    color:green;
}
.li4 img{
    width:22px;
    margin-bottom:-4px;
}
.dog_gif img{
    margin-top:28px;
    margin-left:550px;
    width:300px;
}
form{
    margin-top:-575px;
    width:500px;
}
form div{
    padding:10px;
}
form .form-group{
    padding-bottom:15px;
}
form label{
    display:block;
}
form input, form textarea{
    padding:8px;
    width:100%;
}
.button{
    background-color:darkblue;
    font-weight:800;
    color:white;
    border:none;
}
.button:hover{
    color:red
}
.box{
    margin-top:300px;
}
.box .block{
    margin:5px 0px;
    float:left;
    width:33.3%;
    border:2px dotted black;
    padding:10px;
    box-sizing:border-box;
}
#main-block{
    margin:5px 0px;
    width:70%;
    float:left;
    background-color:darkgray;
    border:2px solid;
    padding:5px;
    box-sizing:border-box;
}
#main-sidebar{
    margin:5px 0px;
    width:30%;
    float:right;
    background-color:darkolivegreen;
    border:2px solid;
    padding:5px;
    box-sizing:border-box;
}
.fixed{
    position:fixed;
    top:200px;
}
.p-box{
    margin-top:700px;
    width:750px;
    height:400px;
    border:1px solid black;
    position:relative;
    background:url(../images/pboxback.jpeg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100%;
}
.p-box h2{
    position:absolute;
    top:50px;
    left:40px;
}
.p-box h3{
    position:absolute;
    bottom:50px;
    right:100px;
}
.list2{
    margin-top:-1050px;
    width:500px;
    border:1px solid black;
}
.list2 li:first-child{
    background-color:red;
}
.list2 li:last-child{
    background-color:green;
}
.list2 li:nth-child(5){
    background-color:blue;
}
.list2 li:nth-child(even){
    background-color:yellow;
}