@import url(https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap);
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  background-color: #000;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  opacity: 0;
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
}
body.body--out {
  opacity: 0 !important;
  -webkit-transition: 15s all linear;
  transition: 15s all linear;
}
.table {
  display: table;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}
.full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro {
  pointer-events: none;
}
.intro .intro__ctn {
  width: 80%;
  margin: 0 auto;
}
.intro .intro__txt {
  color: white;
  text-align: center;
  text-shadow: 0px 0 10px black;
  mix-blend-mode: overlay;
  letter-spacing: 10px;
  text-indent: 10px;
}
.intro h1 {
  text-transform: uppercase;
  font-size: 4vw;
  letter-spacing: 1vw;
  font-family: "Bebas Neue", Arial, sans-serif;
}
.intro.out {
  opacity: 0;
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}
.intro.out .intro__ctn {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition: 1s linear all;
  transition: 1s linear all;
}
.audio-nav {
  bottom: 30px;
  right: 30px;
  margin: auto;
  position: absolute;
  text-align: center;
  opacity: 0;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}
.audio-nav.audio-nav--in {
  opacity: 1;
}
.audio-nav .audio-nav__currentTrack {
  color: #fff;
  text-align: right;
  font-size: 11px;
  opacity: 0.4;
  -webkit-transition: 0.5s all linear;
  transition: 0.5s all linear;
}
.audio-nav .audio-nav__currentTrack.out {
  opacity: 0;
}
.audio-nav .audio-nav__track-ctn {
  height: 11px;
  width: 150px;
  display: inline-block;
  position: relative;
}
.audio-nav .audio-nav__track {
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
}
.audio-nav .audio-nav__completion {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100%;
  width: 0%;
}
.visual {
  height: 100%;
  cursor: pointer;
}
