:root {
    --bg: #2ecc71;
    --translate: 0;
  }
  * {
    box-sizing: border-box;
  }
  html,
  body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
  }
  .swiper {
    color: #fafafa;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    height: 100vh;
    position: absolute;
    -webkit-transform: translateX(calc(var(--translate) * 1px));
            transform: translateX(calc(var(--translate) * 1px));
    text-align: center;
    width: 100vw;
    -webkit-transition: background 0.25s;
    transition: background 0.25s;
  }