#profileDisplay{
    text-align: center;
    float: left;
    display: grid;
    grid-template-columns: 4fr 15fr 1fr;
    grid-template-rows: 40px;
}
#profileDisplay p{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline;
    overflow: hidden;
    margin: 0;
}
.close{
    display: none;
}
#profileDisplay:hover .close{
    display: inherit;
}