#month {
  background-color: lightskyblue;
  height: 25px;
  width: 100%;
  justify-content: center;
  overflow: auto;
  margin-bottom: 3px;
  text-align-last: center;
  padding-top: 8px;
}
#container {
  background-color: lightsteelblue;
  width: 100%;
  justify-content: center;
  overflow: auto;
}
.outer_panel {
  border: 3px solid black;
  border-radius: 10%;
  background-color: lightgray;
  height: 20%;
  width: 12%;
  margin: 5px;
  float: left;
}
.inner_panel_0 {
  border-radius: 50%;
  height: 10%;
  border: 2px solid red;
  margin: 3px;
  text-align: center;
  font-weight: bold;
}
.inner_panel_1 {
  background-image: url("sun.jpg");
  background-repeat: no-repeat;
  border: 2px solid green;
  border-radius: 10%;
  height: 50px;
  width: 92%;
  margin: 3px;
  padding-right: 2px;
  font-weight: bold;
  text-align: right;
}
.inner_panel_2 {
  background-image: url("moon.jpg");
  background-repeat: no-repeat;
  border-radius: 10%;
  border: 2px solid green;
  height: 50px;
  width: 92%;
  margin: 3px;
  padding-right: 2px;
  font-weight: bold;
  text-align: right;
}
