.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://wallpaperaccess.com/full/124493.jpg);
}

.login_logo {
  margin-top: 140px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
  transition: transform 0.2s;
}

.login_logo:hover {
  transform: scale(1.5);
}

.login_container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
  color: whitesmoke;
}

.login_container > form > h5 {
  margin-bottom: 5px;
  color: whitesmoke;
}

.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.247);
  width: 98%;
  border-radius: 4px;
}

.login_signInButton {
  border-radius: 4px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login_registerButton {
  border-radius: 4px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-error {
  color: white;
}
