.App {
  /* background-color: whitesmoke; */
  background-image: url(https://www.wallpapertip.com/wmimgs/0-3795_wallpaper-books-library-shelves-lighting-hd-book-library.jpg);
  backdrop-filter: blur(15px);
  color: whitesmoke;
}
